PATH_LOGS="logs"                                            # Path to logs directory   
PATH_CONFIG="config"                                        # Path to config directory
PATH_SCRIPTS="scripts"                                      # Path to scripts directory
PATH_INSTALLERS="installers"                                # Path to installers directory
PATH_DEPENDENCIES="dependencies"                            # Path to dependencies directory
PATH_RESOURCES="resources"                                  # Path to resources directory
PATH_STATUS="status"                                        # Path to status directory
PATH_INSTALLICIOUS="/etc/installicious"                     # Path to installicious script
FILE_INSTALLICIOUS="installicious.sh"                       # File for installicious script
FILE_LOG_INSTALLICIOUS="installicious.log"                  # File name for log file
