MOTD_NAME="dannet"                           # Name of the MOTD to be created   
MOTD_SMALL_SIZE=79                           # Size where small MOTD is shown instead of normal
MOTD_WEATHER_LOC_CODE="NAM|US|VT|05255"      # Code for getting weather from accuweather
MOTD_IP_URL="https://api.ipify.org"          # URL used for getting External IP Address