RCONF_GPU_MEM_SPLIT_LITE_256=16              # Memory GPU Split for 256 MB LITE OS   
RCONF_GPU_MEM_SPLIT_LITE_512=32              # Memory GPU Split for 512 MB LITE OS  
RCONF_GPU_MEM_SPLIT_LITE_1024=64             # Memory GPU Split for 1 GB LITE OS 
RCONF_GPU_MEM_SPLIT_LITE_2048=64             # Memory GPU Split for 2 GB LITE OS 
RCONF_GPU_MEM_SPLIT_LITE_4096=64             # Memory GPU Split for 4 GB LITE OS 
RCONF_GPU_MEM_SPLIT_LITE_8192=64             # Memory GPU Split for 8 GB LITE OS 
RCONF_GPU_MEM_SPLIT_256=64                   # Memory GPU Split for 256 MB OS   
RCONF_GPU_MEM_SPLIT_512=64                   # Memory GPU Split for 512 MB OS  
RCONF_GPU_MEM_SPLIT_1024=128                 # Memory GPU Split for 1 GB OS 
RCONF_GPU_MEM_SPLIT_2048=128                 # Memory GPU Split for 2 GB OS 
RCONF_GPU_MEM_SPLIT_4096=128                 # Memory GPU Split for 4 GB OS 
RCONF_GPU_MEM_SPLIT_8192=128                 # Memory GPU Split for 8 GB OS 
RCONF_OVERSCAN=1                             # Overscan 0:Enable 1:Disable
RCONF_OVERSCAN_HDMI_1=1                      # Overscan KMS on HDMI 1 (mutli HDMI) 0:Enable 1:Disable
RCONF_OVERSCAN_HDMI_2=1                      # Overscan KMS on HDMI 2 (mutli HDMI) 0:Enable 1:Disable
RCONF_BLANKING=0                             # Blanking 0:Enable 1:Disable 
RCONF_BLANKING_SECONDS=0                     # The number of seconds until screen blanks. 0 is the same as disabling the blanking.
RCONF_DPMS_STANDBY=0                         # 0:Disable or number of minutes until monitor goes into stand-by and blanks.
RCONF_DPMS_SUSPEND=0                         # 0:Disable or number of minutes until monitor suspends.
RCONF_DPMS_OFF=0                             # 0:Disable or number of minutes until monitor turns off.
RCONF_BOOT_BEHAVIOUR_LITE="B1"               # Boot Options for LITE B1:Console/Login B2:Console/Auto Login B3:Desktop/Login B4:Desktop/Auto Login          
RCONF_BOOT_BEHAVIOUR="B3"                    # Boot Options B1:Console/Login B2:Console/Auto Login B3:Desktop/Login B4:Desktop/Auto Login          
RCONF_LOCALE="en_US.UTF-8"                   # Locale
RCONF_TIME_ZONE="America/New_York"           # Time Zone
RCONF_KEYBOARD_LANG="us"                     # keyboard Language
RCONF_KEYBOARD_MODEL="pc104"                 # Keyboard Model
RCONF_WIFI_COUNTRY="US"                      # WiFi Country